
 //colors

 //primary
 $Soft-orange: hsl(35, 77%, 62%);
 $Soft-red: hsl(5, 85%, 63%);

//Neutral

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

body {
    font-family: 'Inter', sans-serif;
    #container{
        width: 1000px;
        margin: 0 auto;
       
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo{
            margin-left: 100px;
        }

        nav{
            list-style-type: none;
            display: flex;
            gap: 10px;
            
            a{
                text-decoration: none;
                color: $Dark-grayish-blue; 
            }
            a:hover{
                color: $Soft-red;
            }
           
        }
        
    }
    //section
    .grid-section{
        display: grid;
        gap: 10px;
        margin-left: 100px;
        margin-top: 30px;
        .item1{
            .web-desktop{
                width: 500px;
            }
        }
    }
  }

